.page {
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url(/assets/images/Login_wallpaper.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.login {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f190;
    width: 80%;
    height: fit-content;
    padding: 20px;
    border-radius: 15px;
}

.inputs {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.inputs input {
    height: 30px;
    margin-bottom: 5%;
    border: none;
    border-radius: 5px;
}

.inputs button {
    background-color: white;
    align-self: center;
    height: 30px;
    border-radius: 5px;
    width: 60%;
    margin: 5px;
}

.inputs a {
    margin-top: 3px;
    align-self: center;
    font-size: 12px;
}