<ion-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="form">
      <h3>Registro</h3>
      <div class="inputs">
        <label class="titulo_campo"  for="username">Usuario</label>
        <input class="sin_borde" required type="text" [(ngModel)]="perfilUsuario.user.usuario" name="username">
        <p class="msg_error" *ngIf = "error.usuario"> {{error.usuario}}</p>

        <label class="titulo_campo" for="password">Contraseña</label>
        <input class="sin_borde" required type="password" name="password" [(ngModel)]="perfilUsuario.user.password">
        <p class="msg_error" *ngIf = "error.password"> {{error.password}}</p>

        <label class="titulo_campo" for="confirmPassword">Confirmar Contraseña</label>
        <input class="sin_borde" required type="password"[(ngModel)]="passwordConfirm"
          name="confirmPassword">
        <p class="msg_error" *ngIf = "error.password_match"> {{error.password_match}}</p>

        <label class="titulo_campo" for="firstName">Nombre</label>
        <input class="sin_borde" type="text" [(ngModel)]="perfilUsuario.nombre" name="firstName">
        <p class="msg_error" *ngIf = "error.nombre"> {{error.nombre}}</p>

        <label class="titulo_campo" for="lastName">Apellido</label>
        <input class="sin_borde" required type="text" [(ngModel)]="perfilUsuario.apellido" name="lastName">
        <p class="msg_error" *ngIf = "error.apellido"> {{error.apellido}}</p>

        <label class="titulo_campo" for="email">Email</label>
        <input class="sin_borde" required type="email" [(ngModel)]="perfilUsuario.correo" name="email">
        <p class="msg_error" *ngIf = "error.correo"> {{error.correo}}</p>

        <label class="titulo_campo" for="phone">Telefono</label>
        <input class="sin_borde" required type="text" [(ngModel)]="perfilUsuario.telefono" name="phone">
        <p class="msg_error" *ngIf = "error.telefono"> {{error.telefono}}</p>

        <button type="submit" (click)="registrar(perfilUsuario)">Registrar</button>
        <button type="submit" (click)="irLogin()">Volver</button>
      </div>
    </div>
  </div>
</ion-content>