<ion-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="form">
      <h3>Registro</h3>
      <div class="inputs">
        <label for="username">Usuario</label>
        <input class="sin_borde" required type="text" [(ngModel)]="perfilUsuario.user.usuario" name="username">

        <label for="password">Contraseña</label>
        <input class="sin_borde" required type="password" name="password" [(ngModel)]="perfilUsuario.user.pass">

        <label for="confirmPassword">Confirmar Contraseña</label>
        <input class="sin_borde" required type="password" [(ngModel)]="perfilUsuario.user.password"
          name="confirmPassword">

        <label for="firstName">Nombre</label>
        <input class="sin_borde" type="text" [(ngModel)]="perfilUsuario.nombre" name="firstName">

        <label for="lastName">Apellido</label>
        <input class="sin_borde" required type="text" [(ngModel)]="perfilUsuario.apellido" name="lastName">

        <label for="email">Email</label>
        <input class="sin_borde" required type="email" [(ngModel)]="perfilUsuario.correo" name="email">

        <label for="phone">Telefono</label>
        <input class="sin_borde" required type="text" [(ngModel)]="perfilUsuario.telefono" name="phone">

        <button type="submit" (click)="registrar(perfilUsuario)">Registrar</button>
      </div>
    </div>
  </div>
</ion-content>