.contenedor {
    background-image: url(/assets/images/background_neutro.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.info {
    justify-content: center;
    justify-self: center;
    align-self: center;
    display: flex;
    background-color: #f1f1f190;
    margin: 5% 5% 0% 5%;
    width: 90%;
    height: fit-content;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.perfil {
    margin-top: 10%;
    height: 100px;
    width: 100px;
    align-self: center;
    justify-self: center;
    border-radius: 100%;
    background-size: cover;
    overflow: hidden;
}

.info .datos {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 65%;
}

.datos .nombre {
    display: flex;
    height: 30px;
    width: 90%;
}

.datos .Rol {
    display: flex;
    height: 30px;
    width: 90%;
}

.datos .email {
    display: flex;
    width: 90%;
    height: 30px;

}

.datos .telefono {
    display: flex;
    height: fit-content;
    width: 90%;
}

.contenedor h3 {

    align-self: center;
}

.inputs {
    margin: 10px;
    align-self: center;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.conf {
    height: fit-content;
    margin: 0% 0% 0% 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f190;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.inputs input {
    height: 30px;
    margin-bottom: 5%;
    border: none;
    border-radius: 5px;
}

.inputs button {
    font-size: 17px;
    background-color: white;
    align-self: center;
    height: 30px;
    border-radius: 5px;
    width: 60%;
    margin: 5px;
}